@model AndyTipsterPro.Entities.Contact


@{
    ViewBag.Title = "Contact";
}


<div class="col-xs-12">
    <p class="lead lead-lg text-center animated bounceInLeft animation-delay-12">Got a question or a suggestion, feel free to contact us.</p>
</div>


<div class="row">
    <div class="col-lg-offset-2 col-md-8">
        <section>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <h2 class="section-title">Send Message</h2>
                <div asp-validation-summary="All">
                    <span></span>
                </div>
                <div class="form-group">
                    <label for="InputName">First Name</label>
                    <input asp-for="FirstName" type="text" class="form-control" id="FirstName">
                </div>

                <div class="form-group">
                    <label for="InputName">Last Name</label>
                    <input asp-for="LastName" type="text" class="form-control" id="LastName">
                </div>

                <div class="form-group">
                    <label for="InputName">Email address</label>
                    <input asp-for="EmailAddress" type="email" class="form-control" id="EmailAddress">
                </div>

                <div class="form-group">
                    <label for="InputName">Telephone</label>
                    <input asp-for="Telephone" type="text" class="form-control" id="Telephone">
                </div>

                <div class="form-group">
                    <label for="InputMessage">Message</label>
                    <textarea asp-for="Message" class="form-control" id="Message" rows="8"></textarea>
                </div>

                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                <div class="clearfix"></div>
            }
        </section>
    </div>
</div>

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-9ec7d23e-8574-4a8c-a1ce-d4df46d6de9f"></div>





