@model AndyTipsterPro.Entities.Tips
@{
    /**/

    ViewBag.Title = "Elite Package Tips";
}



@if (Model != null)
{
    <div class="row">
        <div class="col-xs-12">
            <article class="post animated fadeInDown">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="post-title"><a href="single.html" class="transicion">Elite Package Tips</a></h3>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="~/images/uk-sports-home-image.jpg" class="img-responsive" alt="Image">
                            </div>
                            <div class="col-md-6">
                                <p> @Html.Raw(Model.ElitePackageTips).</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-10 col-md-9 col-sm-8">
                                <i class="fa fa-clock-o"></i> @DateTime.Today <i class="fa fa-user"> Andy Tipster</i>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4">
                            
                            </div>
                        </div>
                    </div>
                </div>
            </article> <!-- post -->
        </div> <!-- col-md-8 -->

    </div>
}
else
{
    <h2 class="lead lead-lg text-center animated bounceInLeft animation-delay-12">"No Tips have been found."</h2>
}


