
@{
    ViewBag.Title = "Free Tips from Andy Tipster";
}


<div class="row">

    <div class="jumbotron">
        <div class="col-md-6">
            <h1>Free Tips</h1>
            <h3>Are you looking for Free Tips ?</h3>
            <p>Subscribe your email for 100% free tips from Andy Tipster.</p>
        </div>
        <div class="col-md-6">
            <div class="AW-Form-452195183" style="border:solid medium;"></div>
            <script type="text/javascript">
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//forms.aweber.com/form/83/452195183.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, "script", "aweber-wjs-d93otjwlr"));
            </script>
        </div>
    </div>
</div>