<div class="row">
    <div class="pricign-box animated fadeInUp animation-delay-8">

        <div class="pricing-box-header">

            <h2>Elite Package</h2>

            <p>The combination of UK/IRE & International Racing Tips Daily.</p>

        </div>

        <div class="row">

            <div class="col-md-3">

                <img src="https://image.assets.pressassociation.io/v2/image/production/439fb5c47a1c039c8e50344b2c8c0922Y29udGVudHNlYXJjaCwxNTUyNzYwNzE4/2.41785838.jpg" class="img-responsive">

            </div>

            <div class="col-md-3">

                <img src="https://i.pinimg.com/736x/ec/1b/1b/ec1b1b805a0bde3d2ec6520229387d55.jpg" class="img-responsive">

            </div>

            <div class="col-md-3">

                <img src="https://dnu5embx6omws.cloudfront.net/photos/news/The-Flemington-track-is-a-Good-4-for-Cup-day-1477946638_1352x900.jpg" class="img-responsive">

            </div>

            <div class="col-md-3">

                <img src="https://th.bing.com/th?id=OIP.IRYDh3QdNdXz5342_KluMgHaE7&amp;pid=Api&amp;rs=1" class="img-responsive">

            </div>

        </div>





        <div class="pricing-box-price">

            <h3>&pound;28 <sub>/ month</sub> </h3>

        </div>

        <div class="pricing-box-price">

            <h3>&pound;70 <sub>/ 3 months</sub> </h3>

        </div>



        <div class="pricing-box-content">

            <ul>

                <li><i class="fa fa-check"></i>UK/IRE and International Tips daily with full membership access to your tips on site</li>

                <li><i class="fa fa-check"></i>Upon joining get our Guide and join our ever growing Community</li>

                <li><i class="fa fa-check"></i>A Long Term Winning Points System in place and Proven</li>

                <li><i class="fa fa-check"></i>TTC at All big festival meets in UK/IRE and Internationally</li>
                <li><i class="fa fa-check"></i>Daily emails with hours to get the bets on, no last minute bets</li>
                <li><i class="fa fa-check"></i>Payments made by secure paypal/debit/credit card secured on site</li>

            </ul>

        </div>



        <div class="pricing-box-footer">

            <div class="row">

                <div class="col-md-6 col-sm-6">

                    <a class="btn btn-success" href="/Subscription/Purchase/P-09C957712K368232JKF7VMNA">

                        Buy 1 Month Subs

                    </a>

                </div>

                <div class="col-md-6 col-sm-6">

                    <a class="btn btn-success" href="/Subscription/Purchase/P-1FD83795S76602311KF7VTVQ">

                        Buy 3 Month Subs

                    </a>

                </div>

            </div>

        </div>





    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">

        <div class="pricign-box pricign-box-pro animated fadeInUp animation-delay-9">

            <div class="pricing-box-header">

                <h2>Combo package UK/IRE</h2>

                <p>The UK package with Irish Racing Tips included</p>

            </div>

            <div class="row">

                <div class="col-md-6 col-sm-6">

                    <img asp-append-version="true" src="https://experienceluxury.co/wp-content/uploads/2017/03/cheltenham-races-1200x800.jpg" class="img-responsive" style="min-height: 100%;" />

                </div>

                <div class="col-md-6 col-sm-6">

                    <img asp-append-version="true" src="/images/Irish-horce-racing-home-image.jpg" class="img-responsive" style="min-height: 100%;" />

                </div>



            </div>



            <div class="pricing-box-price">

                <h3>&pound;24 <sub>/ month</sub> </h3>

            </div>

            <div class="pricing-box-price">

                <h3>&pound;60 <sub>/ 3 months</sub> </h3>

            </div>

            <div class="pricing-box-content">

                <ul>

                    <li><i class="fa fa-check"></i>UK/IRE racing tips daily with membership access to your package tips on site</li>

                    <li><i class="fa fa-check"></i>Upon joining receive our welcome pack and join our Ever growing Community</li>

                    <li><i class="fa fa-check"></i>A Long Term Winning Points System in place as Proven</li>

                    <li><i class="fa fa-check"></i> Plus TTC at meets such as Cheltenham, Punchestown, Aintree, Galway, Ascot & more </li>

                    <li><i class="fa fa-check"></i>Join Our Andy Tipster Community and be part of something much bigger</li>

                    <li><i class="fa fa-check"></i>Payments made by secure paypal/debit/credit card secured on site</li>

                </ul>

            </div>

            <div class="pricing-box-footer">



                <div class="row">

                    <div class="col-md-6 col-sm-6">

                        <a class="btn btn-success" href="/Subscription/Purchase/P-00C386636A093722TKF7V3RY">

                            Buy 1 Month Subs

                        </a>

                    </div>

                    <div class="col-md-6 col-sm-6">

                        <a class="btn btn-success" href="/Subscription/Purchase/P-5XX476395S559201AKF7WC5A">

                            Buy 3 Month Subs

                        </a>

                    </div>

                </div>



            </div>

        </div>

    </div>

    <div class="col-md-6 col-sm-6">

        <div class="pricign-box animated fadeInUp animation-delay-7">

            <div class="pricing-box-header">

                <h2>UK Racing Package</h2>

                <p>Specialising in UK Racing daily</p>

            </div>

            <div class="row">

                <div class="col-md-6 col-sm-6">

                    <img asp-append-version="true" src="https://experienceluxury.co/wp-content/uploads/2017/03/cheltenham-races-1200x800.jpg" class="img-responsive" style="min-height: 100%;">
                </div>

                <div class="col-md-6 col-sm-6">

                    <img asp-append-version="true" src="https://resources2.news.com.au/images/2012/04/15/1226327/066990-britain-grand-national-horse-racing.jpg" class="img-responsive" />

                </div>

            </div>



            <div class="pricing-box-price">

                <h3>&pound;19 <sub>/ month</sub></h3>



            </div>

            <div class="pricing-box-price">

                <h3>&pound;50 <sub>/ 3 months</sub> </h3>



            </div>



            <div class="pricing-box-content">

                <ul>

                    <li><i class="fa fa-check"></i>UK racing tips daily with membership access to your tips on site</li>

                    <li><i class="fa fa-check"></i>From what started in Feb 2012 still winning consistently and proven</li>

                    <li><i class="fa fa-check"></i>Also receive festival tips for big meets such as Cheltenham, Aintree, Ascot and more</li>

                    <li><i class="fa fa-check"></i>A Long Term Winning Points System in place as Proven</li>

                    <li><i class="fa fa-check"></i>Join Our Andy Tipster Community and be part of something much bigger </li>

                    <li><i class="fa fa-check"></i>Payments made by secure paypal/debit/credit card secured on site</li>

                </ul>





            </div>

            <div class="pricing-box-footer">



                <div class="row">

                    <div class="col-md-6 col-sm-6">

                        <a class="btn btn-success" href="/Subscription/Purchase/P-18G17675JM7132156KF7WKBA">

                            Buy 1 Month Subs

                        </a>

                    </div>

                    <div class="col-md-6 col-sm-6">

                        <a class="btn btn-success" href="/Subscription/Purchase/P-79895148X4102672HKF7WQZQ">

                            Buy 3 Month Subs

                        </a>

                    </div>

                </div>



            </div>

        </div>

    </div>

</div>




