<div class="container">
    <div class="col-md-6 col-sm-6">

        <div class="AW-Form-452195183"></div>
        <script type="text/javascript">
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//forms.aweber.com/form/83/452195183.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, "script", "aweber-wjs-d93otjwlr"));
        </script>

        <br />
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="pricign-box animated fadeInUp animation-delay-8">
                    <div class="pricing-box-header">
                        <h2>Elite Package</h2>
                        <p>The combination of UK/IRE & International Racing Tips Daily.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <img src="https://image.assets.pressassociation.io/v2/image/production/439fb5c47a1c039c8e50344b2c8c0922Y29udGVudHNlYXJjaCwxNTUyNzYwNzE4/2.41785838.jpg" class="img-responsive">
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <img src="https://i.pinimg.com/736x/ec/1b/1b/ec1b1b805a0bde3d2ec6520229387d55.jpg" class="img-responsive">
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <img src="https://dnu5embx6omws.cloudfront.net/photos/news/The-Flemington-track-is-a-Good-4-for-Cup-day-1477946638_1352x900.jpg" class="img-responsive">
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <img src="https://th.bing.com/th?id=OIP.IRYDh3QdNdXz5342_KluMgHaE7&amp;pid=Api&amp;rs=1" class="img-responsive">
                        </div>
                    </div>

                    <div class="pricing-box-price">
                        <h3>&pound;28 <sub>/ month</sub> </h3>
                    </div>
                    <div class="pricing-box-price">
                        <h3>&pound;70 <sub>/ 3 months</sub> </h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li><i class="fa fa-check"></i>The combination of all sports- Horse Racing from the UK and IRE aswell as other sports</li>
                            <li><i class="fa fa-check"></i>Upon joining get our Guide and join our Ever growing Community</li>
                            <li><i class="fa fa-check"></i>Payments made by secure paypal</li>
                            <li><i class="fa fa-check"></i>Want to Pay by bank transfer, contact us</li>
                        </ul>
                    </div>
                    <div class="pricing-box-footer">

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <a class="btn btn-success" href="/Subscription/Purchase/P-4PW49733EK038214LY36IBNY">
                                    Buy 1 Month Subs
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <a class="btn btn-success" href="/Subscription/Purchase/P-95R12622BB0469707Y36IHGA">
                                    Buy 3 Month Subs
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div> <!-- row -->
    </div>

</div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-6 col-sm-6">
                    <div class="pricign-box animated fadeInUp animation-delay-7">
                        <div class="pricing-box-header">
                            <h2>UK Racing Package</h2>
                            <p>Specialising in UK Racing daily</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <img asp-append-version="true" src="https://experienceluxury.co/wp-content/uploads/2017/03/cheltenham-races-1200x800.jpg" class="img-responsive" />
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <img asp-append-version="true" src="https://www.rp-assets.com/images/news/2018/06/21/44810-medium.jpeg" class="img-responsive" />
                            </div>
                        </div>

                        <div class="pricing-box-price">
                            <h3>&pound;19 <sub>/ month</sub></h3>

                        </div>
                        <div class="pricing-box-price">
                            <h3>&pound;50 <sub>/ 3 months</sub> </h3>

                        </div>

                        <div class="pricing-box-content">
                            <ul>
                                <li><i class="fa fa-check"></i>Membership group that's amassed Thousands of &pound;&pound; Profit Since Feb 2013</li>
                                <li><i class="fa fa-check"></i>Daily Emails With Hours to get The bets on, No last Minute bets</li>
                                <li><i class="fa fa-check"></i>A Long Term Winning Points System in place as Proven</li>
                                <li><i class="fa fa-check"></i>Join Our Andy Tipster Community and be part of something much bigger</li>
                                <li><i class="fa fa-check"></i>Payments made by secure paypal</li>
                                <li><i class="fa fa-check"></i>Want to Pay by bank transfer, contact us</li>
                            </ul>


                        </div>
                        <div class="pricing-box-footer">

                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <a class="btn btn-success" href="/Subscription/Purchase/P-08K21883UG098873DY36IUOI">
                                        Buy 1 Month Subs
                                    </a>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <a class="btn btn-success" href="/Subscription/Purchase/P-4P3038194D4041231Y36IY5Y">
                                        Buy 3 Month Subs
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="pricign-box pricign-box-pro animated fadeInUp animation-delay-9">
                        <div class="pricing-box-header">
                            <h2>Combo package UK/IRE</h2>
                            <p>The UK package with Irish Racing Tips included</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <img asp-append-version="true" src="https://experienceluxury.co/wp-content/uploads/2017/03/cheltenham-races-1200x800.jpg" class="img-responsive" style="min-height: 100%;" />
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <img asp-append-version="true" src="http://resources2.news.com.au/images/2012/04/15/1226327/066990-britain-grand-national-horse-racing.jpg" class="img-responsive" style="min-height: 100%;" />
                            </div>

                        </div>

                        <div class="pricing-box-price">
                            <h3>&pound;24 <sub>/ month</sub> </h3>
                        </div>
                        <div class="pricing-box-price">
                            <h3>&pound;60 <sub>/ 3 months</sub> </h3>
                        </div>
                        <div class="pricing-box-content">
                            <ul>
                                <li><i class="fa fa-check"></i>A Points System To Ensure a Control and guidance on Winning</li>
                                <li><i class="fa fa-check"></i>Proven Success on facebook With Years of Gains at level Stakes</li>
                                <li><i class="fa fa-check"></i>A Long Term Winning Points System in place as Proven</li>
                                <li><i class="fa fa-check"></i>The Sister But Definitely Not the understudy To Andy Tipster since Dec 2013</li>
                                <li><i class="fa fa-check"></i>Payments made by secure paypal</li>
                                <li><i class="fa fa-check"></i>Want to Pay by bank transfer, contact us</li>
                            </ul>
                        </div>
                        <div class="pricing-box-footer">

                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <a class="btn btn-success" href="/Subscription/Purchase/P-3HH93430V9710325RY36ILRY">
                                        Buy 1 Month Subs
                                    </a>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <a class="btn btn-success" href="/Subscription/Purchase/P-8BD518196E454074BY36IP7Y">
                                        Buy 3 Month Subs
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
