@model AndyTipsterPro.Entities.LandingPage

@{
    ViewBag.Title = "AndyTipster Pro";
}


<div class="row" style="margin-bottom:25px;">
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">A few words about me..</div>
            <div class="panel-body">
                <p>Since February 2012 I, Andy Tipster has continued to build my ever-growing reputation as one of the best sports tipsters In the business. After a 2 free months back in 2012 of tips for like-minded punters which proved to be very successful and yielded a very healthy profit Andy Tipster was launched. I had been betting privately and successfully for a number of years and setting up my own tipping site became ever popular within the social media community, the groups, clientele, and pages have continued to soar on a month on month basis and continues to grow to this very day, with one of the biggest private membership numbers , and hundreds of thousands of members on our social pages and groups.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="input-group">
            <div class="AW-Form-452195183"><h3><strong>Get Free Tips & Updates</strong></h3></div>
        </div>
        <script type="text/javascript">
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//forms.aweber.com/form/83/452195183.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, "script", "aweber-wjs-d93otjwlr"));
        </script>
    </div>
</div>

@if (Model != null)
{
    @Html.Raw(Model.LandingPageHtml)
}
else
{
    <p>Site under construction. Please visit later.</p>
}

<div class="row">
    <div class="col-md-6">
        <h3 style="margin-bottom:10px;">AndyTipster on Facebook</h3>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0&appId=558024404970675&autoLogAppEvents=1"></script>
        <div class="fb-page" data-href="https://www.facebook.com/Andy-Tipsters-Fan-page-496163440425567/" data-tabs="timeline" data-width="1000" data-height="1000" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Andy-Tipsters-Fan-page-496163440425567/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Andy-Tipsters-Fan-page-496163440425567/">Andy Tipster&#039;s Fan-page</a></blockquote></div>

    </div>
    <div class="col-md-6">
        <h3>AndyTipster Twitting..</h3>
        <div style="overflow:scroll; height:1000px;">
            <a class="twitter-timeline" href="https://twitter.com/AndyTipster?ref_src=twsrc%5Etfw">Tweets by AndyTipster</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>
