@model AndyTipsterPro.Entities.LandingPage

@{
    ViewBag.Title = "AndyTipster Pro";
}


@if (Model != null)
{
    @Html.Raw(Model.LandingPageHtml)
}
else
{
    <p>Site under construction. Please visit later.</p>
}


