@model AndyTipsterPro.Entities.LandingPage

@{
    ViewBag.Title = "AndyTipster Pro";
}

@if (Model != null)
{
    @Html.Raw(Model.LandingPageHtml)
}
else
{
    <p>Site under construction. Please visit later.</p>
}



<div class="row">

    @*facebook*@
    <div class="col-sm-4">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-9ec7d23e-8574-4a8c-a1ce-d4df46d6de9f"></div>

    </div>

    @*Instagram*@
    <div class="col-sm-4">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-6339e76c-f2d0-42f5-948d-a8eb14214af1"></div>
    </div>

    @*Twitter*@
    <div class="col-sm-4">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-aa90ce0f-671f-4c59-b660-dcffab67f353"></div>
    </div>
</div>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-190625507-1">
</script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-190625507-1');
</script>







