@model AndyTipsterPro.Entities.LandingPage

@{
    ViewBag.Title = "AndyTipster Pro";
}

@if (Model != null)
{
    @Html.Raw(Model.LandingPageHtml)
}
else
{
    <p>Site under construction. Please visit later.</p>
}

<div class="row">
    <div class="col-md-6">
        <h3 style="margin-bottom:10px;">Andy Tipster on Facebook</h3>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0&appId=558024404970675&autoLogAppEvents=1"></script>
        <div class="fb-page" data-href="https://www.facebook.com/Andy-Tipsters-Fan-page-496163440425567/" data-tabs="timeline" data-width="1000" data-height="1000" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Andy-Tipsters-Fan-page-496163440425567/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Andy-Tipsters-Fan-page-496163440425567/">Andy Tipster&#039;s Fan-page</a></blockquote></div>

    </div>
    <div class="col-md-6">
        <h3>Andy Tipster Twitter</h3>
        <div style="overflow:scroll; height:1000px;">
            <a class="twitter-timeline" href="https://twitter.com/AndyTipster?ref_src=twsrc%5Etfw">Andy Tipster Twitter</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>


@*https://www.facebook.com/andy.tipster/
https://www.facebook.com/Andy-Tipsters-Fan-page-496163440425567/*@