
@{
    ViewBag.Title = "NotAuthorized";
}


<div class="row">
    <h2>Not Authorized</h2>
    <p>It seems you do not have subscription to view these pages.</p>
    <p>To view these pages, you will need a valid subscription.</p>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to Home</a>
</div>

