@model IEnumerable<AndyTipsterPro.Entities.Testimonial>


@{
    ViewBag.Title = "Testimonials";
}


<div class="row" style="margin-bottom:50px;">
    <div class="jumbotron">
        <h1>People influence people</h1>
        <p>“Nothing influences people more than a recommendation from a trusted friend. A trusted referral influences people more than the best broadcast message. A trusted referral is the Holy Grail of advertising.” – Mark Zuckerberg</p>
    </div>
    <div class="col-md-8">
        @if (Model != null)
        {
            @if (Model.Count() > 0)
            {
                foreach (var test in Model)
                {
                    <div class="icon-item">
                        <i class="fa fa-thumbs-up"></i>
                        <div class="item-content">
                            <h3>@test.Description</h3>
                            <p>@test.Customer</p>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <p>No testimonials added yet.</p>
        }

    </div>

    <div class="col-md-4">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-aa90ce0f-671f-4c59-b660-dcffab67f353"></div>
    </div>
</div>


