@model IEnumerable<AndyTipsterPro.Entities.Testimonial>


@{
    ViewBag.Title = "Better service starts here";
}


<div class="row" style="margin-bottom:50px;">
    <div class="col-md-8">
        <h2 class="section-title">@ViewBag.Title</h2>
        @if (Model != null)
        {
            @if (Model.Count() > 0)
            {
                foreach (var test in Model)
                {
                    <div class="icon-item">
                        <i class="fa fa-thumbs-up"></i>
                        <div class="item-content">
                            <h3>@test.Description</h3>
                            <p>@test.Customer</p>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <p>No testimonials added yet.</p>
        }

    </div>

    <div class="col-md-4">
        <div class="fb-page" data-href="https://www.facebook.com/Andy-Tipsters-Fan-page-496163440425567/" data-tabs="timeline" data-width="" data-height="1000" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Andy-Tipsters-Fan-page-496163440425567/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Andy-Tipsters-Fan-page-496163440425567/">Andy Tipster&#039;s Fan-page</a></blockquote></div>
    </div>
</div>


