@model AndyTipsterPro.Entities.About

@{
    ViewBag.Title = "About";
}

<a class="twitter-timeline" href="https://twitter.com/AndyTipster?ref_src=twsrc%5Etfw">Tweets by AndyTipster</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


