@inject SignInManager<ApplicationUser> signInManager;

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Andy Tipster</title>
    <meta name="description" content="Andy Tipster - The Number One in Sports Tips, Make The Most out of Your Bets.">
    <meta name="keywords" content="  Sports Betting, Horse Racing, Gambling, Tipster, Profit, Winners, Andy Tipster">
    <meta name="author" content="agilecoding.com">

    <!-- Custom styles for this template -->
    <link href="~/Content/Template/css/style.css" rel="stylesheet">

    <link href="~/Content/Template/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/Template/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/Template/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/Template/css/lightbox.css" rel="stylesheet" media="screen">
    <link href="~/Content/Template/css/syntax/shCore.css" rel="stylesheet" media="screen">
    <link href="~/Content/Template/css/syntax/shThemeDefault.css" rel="stylesheet" media="screen">

    <link href="~/Content/Template/css/style.css" rel="stylesheet" media="screen">
    <link href="~/Content/Template/css/color-default.css" rel="stylesheet" media="screen" title="default">
    <link href="~/Content/Template/css/width-full.css" rel="stylesheet" media="screen" title="default">

    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <link href="~/lib/ckeditor/contents.css" rel="stylesheet" />
    <script src="~/lib/ckeditor/styles.js"></script>

</head>


<body>



    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '{your-app-id}',
                cookie: true,
                xfbml: true,
                version: 'v4.0'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>



    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '910702312285636',
                xfbml: true,
                version: 'v2.5'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="boxed animated fadeIn animation-delay-5">

        <header id="header" class="hidden-xs">
            <div class="container">
                <div id="header-title">
                    <h1 class="animated ">
                        <a asp-controller="Home" asp-action="Index">Andy<span>tipster</span></a>
                    </h1>
                    <p class="animated fadeInLeft">The Number One in Sports Tips, Make The Most out of Your Bets.</p>
                </div>
            </div> <!-- container -->
        </header> <!-- header -->

        <nav class="navbar navbar-static-top navbar-mind" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" asp-controller="Home" asp-action="Index">Andy<span>tipster</span></a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-inverse"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-mind-collapse" id="bs-example-navbar-collapse-1">


                    <ul class="nav navbar-nav nav-left">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="About">About us</a></li>
                        @*<li><a asp-controller="Home" asp-action="Facebook">Facebook</a></li>
                        <li><a asp-controller="Home" asp-action="Twitter">Twitter</a></li>*@
                        <li class="btn btn-success"><a asp-controller="Subscription" asp-action="Index">Subscriptions</a></li>
                        <li><a asp-controller="Home" asp-action="Faq">FAQ</a></li>
                        <li><a asp-controller="Home" asp-action="Testimonials">Testimonials</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact us</a></li>


                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tips<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Home" asp-action="AndyTipsterTips">AndyTipster Tips</a></li>
                                    <li><a asp-controller="Home" asp-action="IrishRacingTips">Irish Racing Tips</a></li>
                                    <li><a asp-controller="Home" asp-action="UltimatePackTips">Ultimate Pack Tips</a></li>
                                </ul>
                            </li>
                        }


                        @if (User.Identity.IsAuthenticated && (User.IsInRole("superadmin") || User.IsInRole("admin")))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="LandingPages" asp-action="Edit">Edit Home</a></li>
                                    <li><a asp-controller="Abouts" asp-action="Edit">Edit About</a></li>
                                    <li><a asp-controller="Questions" asp-action="Index">Edit FAQ</a></li>
                                    <li><a asp-controller="Testimonial" asp-action="Index">Edit Testimonials</a></li>
                                    <li><a asp-controller="Tips" asp-action="Edit">Edit Tips</a></li>
                                    <li><a asp-controller="Home" asp-action="EmailList">Download Emails</a></li>
                                </ul>
                            </li>
                        }



                        @if (User.Identity.IsAuthenticated && User.IsInRole("superadmin"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Super Admin<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Administration"
                                           asp-action="ListRoles">Roles</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Administration"
                                           asp-action="ListUsers">Users</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Account"
                                           asp-action="ChangePassword">Password</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="LandingPages"
                                           asp-action="index">Landing Pages</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Abouts"
                                           asp-action="index">About Pages</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Tips"
                                           asp-action="index">Tips Pages</a>
                                    </li>
                                    <li>
                                        <a asp-controller="BillingPlans" asp-action="Index">Billing Plans</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Subscription" asp-action="Index">Subscriptions</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Subscribers" asp-action="Index">Subscribers</a>
                                    </li>
                                </ul>
                            </li>
                        }



                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        <li><partial name="_LoginPartial" /></li>
                    </ul>

                </div><!-- navbar-collapse -->
            </div> <!-- container -->
        </nav> <!-- navbar navbar-default -->



        <div>


            <!-- InstanceBeginEditable name="contents" -->
            <br />
            <div class="container body-content">
                @RenderBody()
            </div>

            <footer id="footer" style="margin-top:50px;">

                <p>&copy; 2020 <a href="#">www.andytipsterpro.com</a>, inc. All rights reserved.</p>
                <p>Designed and Maintained By <a href="http://www.agilecoding.com/">agilecoding.com: Simple but Smart</a>.</p>
            </footer>

        </div> <!-- boxed -->

    </div>
    <!-- Scripts -->
    <script src="~/Content/Template/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Template/js/jquery.cookie.js"></script>
    <script src="~/Content/Template/js/bootstrap.min.js"></script>
    <script src="~/Content/Template/js/jquery.mixitup.min.js"></script>
    <script src="~/Content/Template/js/lightbox-2.6.min.js"></script>
    <script src="~/Content/Template/js/holder.js"></script>
    <script src="~/Content/Template/js/app.js"></script>
    <script src="~/Content/Template/js/styleswitcher.js"></script>

    <script src="~/Content/Template/js/syntax/shCore.js"></script>
    <script src="~/Content/Template/js/syntax/shBrushXml.js"></script>
    <script src="~/Content/Template/js/syntax/shBrushJScript.js"></script>

    @RenderSection("scripts", required: false)




</body>

</html>
