@inject SignInManager<ApplicationUser> signInManager;



<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta name="description" content="Andy Tipster - The Number One in Sports Tips, Make The Most out of Your Bets.">
    <meta name="keywords" content="  Sports Betting, Horse Racing, Gambling, Tipster, Profit, Winners, Andy Tipster">
    <meta name="author" content="relaxcoding.com">

    <title>@ViewBag.Title</title>

    <!-- CSS -->
    <link href="~/Template/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Template/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="~/Template/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="~/Template/css/lightbox.css" rel="stylesheet" media="screen">
    <link href="~/Template/css/syntax/shCore.css" rel="stylesheet" media="screen">
    <link href="~/Template/css/syntax/shThemeDefault.css" rel="stylesheet" media="screen">

    <link href="~/Template/css/style.css" rel="stylesheet" media="screen" title="default">
    <link href="~/Template/css/color-default.css" rel="stylesheet" media="screen" title="default">
    <link href="~/Template/css/width-full.css" rel="stylesheet" media="screen" title="default">

    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>

</head>

<body>


    <!-- Setting Options -->
    <div id="color-switcher" class="animated fadeIn animation-dalay-10">
        <div id="color-switcher-tab">
            <i class="fa fa-gear fa fa-2x"></i>
        </div>
        <div id="color-switcher-content">
            <h3>Color Selector</h3>
            <a href="#" rel="color-default.css" class="color default">default</a>
            <a href="#" rel="color-niceblue.css" class="color niceblue">niceblue</a>
            <a href="#" rel="color-intenseblue.css" class="color intenseblue">intenseblue</a>
            <a href="#" rel="color-otherblue.css" class="color otherblue">otherblue</a>
            <a href="#" rel="color-blue.css" class="color blue">blue</a>
            <a href="#" rel="color-puregreen.css" class="color puregreen">puregreen</a>
            <a href="#" rel="color-grassgreen.css" class="color grassgreen">grassgreen</a>
            <a href="#" rel="color-green.css" class="color green">green</a>
            <a href="#" rel="color-olive.css" class="color olive">olive</a>
            <a href="#" rel="color-gold.css" class="color gold">gold</a>
            <a href="#" rel="color-orange.css" class="color orange">orange</a>
            <a href="#" rel="color-pink.css" class="color pink">pink</a>
            <a href="#" rel="color-fuchsia.css" class="color fuchsia">fuchsia</a>
            <a href="#" rel="color-violet.css" class="color violet">violet</a>
            <a href="#" rel="color-red.css" class="color red">red</a>


            <h3>Container Selector</h3>
            <div class="btn-group">
                <button href="#" class="option btn btn-sm btn-primary" rel="width-boxed.css">Boxed</button>
                <button href="#" class="option btn btn-sm btn-primary" rel="width-full.css">Full Width</button>
            </div>
        </div>
    </div> <!-- color-switcher -->

    <div class="boxed animated fadeIn animation-delay-5">

        <header id="header" class="hidden-xs">
            <div class="container">
                <div id="header-title">

                    <h1 class="animated "><a href="index.html">Andy<span>Tipster</span></a></h1>
                    <p class="animated fadeInLeft">The Number One in Sports Tips, Make The Most out of Your Bets.</p>

                </div>
            </div> <!-- container -->
        </header> <!-- header -->

               <nav class="navbar navbar-static-top navbar-mind" role="navigation">
            <div class="container">
                
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="index.html">Andy<span>tipster</span></a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-inverse"></i>
                    </button>
                </div>

                 
                <div class="collapse navbar-collapse navbar-mind-collapse">
                   
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a asp-action="index" asp-controller="home" class="nav-link">List</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="create" asp-controller="home" class="nav-link">Create</a>
                        </li>
                        @*@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Administration"
                                   asp-action="ListUsers">Users</a>
                                <a class="dropdown-item" asp-controller="Administration"
                                   asp-action="ListRoles">Roles</a>
                                <a class="dropdown-item" asp-controller="Account"
                                   asp-action="ChangePassword">Password</a>
                            </div>
                        </li>
                        @*}*@
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-action="logout" asp-controller="account">
                                    <button type="submit" class="nav-link btn btn-link py-0"
                                            style="width:auto">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-action="register" asp-controller="account" class="nav-link">Register</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="login" asp-controller="account" class="nav-link">Login</a>
                            </li>
                        }

                    </ul>

                </div> 
            </div> 
        </nav>  



        <div>

            <br />
            <div class="row">
                @RenderBody()
                <div class="container">
                    <div class="col-md-6 col-sm-6">

                        <div class="AW-Form-452195183"></div>
                        <script type="text/javascript">
                            (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "//forms.aweber.com/form/83/452195183.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, "script", "aweber-wjs-d93otjwlr"));
                        </script>

                        <br />
                    </div>
                </div>
                <div class="container">



                    <div class="col-md-6 col-sm-6">
                        <div class="pricign-box animated fadeInUp animation-delay-7">
                            <div class="pricing-box-header">
                                <h2>Andy Tipster Package</h2>
                                <p>Specialising in UK Racing and American Sports</p>
                            </div>
                            <img src="img/uk-sports-home-image.jpg" class="img-responsive" alt="Image">
                            <div class="pricing-box-price">
                                <h3>&pound;13 <sub>/ month</sub></h3>

                            </div>
                            <div class="pricing-box-price">
                                <h3>  &pound;35 <sub>/ 3 months</sub> </h3>

                            </div>

                            <div class="pricing-box-content">
                                <ul>
                                    <li><i class="fa fa-check"></i>Membership group that's amassed Thousands of &pound;&pound; Profit Since Feb 2013</li>
                                    <li><i class="fa fa-check"></i>Daily Emails With Hours to get The bets on, No last Minute bets</li>
                                    <li><i class="fa fa-check"></i>A Long Term Winning Points System in place as Proven</li>
                                    <li><i class="fa fa-check"></i>Join Our Andy Tipster Community and be part of something much bigger</li>
                                    <li><i class="fa fa-check"></i>Payments made by secure paypal</li>
                                    <li><i class="fa fa-check"></i>Want to Pay by bank transfer, contact us</li>
                                </ul>


                            </div>
                            <div class="pricing-box-footer">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6"> Monthly Subscription  </div>
                                    <div class="col-md-6 col-sm-6"> 3 Monthly Subscription </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="hosted_button_id" value="HKEPESP58WVUY">
                                            <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                                            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                        </form>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="hosted_button_id" value="2PMZJWNZQ7VH8">
                                            <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                                            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                        </form>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-6 col-sm-6">
                        <div class="pricign-box pricign-box-pro animated fadeInUp animation-delay-9">
                            <div class="pricing-box-header">
                                <h2>Irish Horse Racing</h2>
                                <p>Solely Irish Horse Racing Tips</p>
                            </div>
                            <img src="img/Irish-horce-racing-home-image.jpg" class="img-responsive" alt="Image">
                            <div class="pricing-box-price">
                                <h3>&pound;10 <sub>/ month</sub> </h3>
                            </div>
                            <div class="pricing-box-price">
                                <h3>&pound;27.50 <sub>/ 3 months</sub> </h3>
                            </div>
                            <div class="pricing-box-content">
                                <ul>
                                    <li><i class="fa fa-check"></i>A Points System To Ensure a Control and guidance on Winning</li>
                                    <li><i class="fa fa-check"></i>Proven Success on facebook With Years of Gains at level Stakes</li>
                                    <li><i class="fa fa-check"></i>A Long Term Winning Points System in place as Proven</li>
                                    <li><i class="fa fa-check"></i>The Sister But Definitely Not the understudy To Andy Tipster since Dec 2013</li>
                                    <li><i class="fa fa-check"></i>Payments made by secure paypal</li>
                                    <li><i class="fa fa-check"></i>Want to Pay by bank transfer, contact us</li>
                                </ul>
                            </div>
                            <div class="pricing-box-footer">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6"> Monthly Subscription  </div>
                                    <div class="col-md-6 col-sm-6"> 3 Monthly Subscription </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="hosted_button_id" value="3UN6CZCU5J8NE">
                                            <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                                            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                        </form>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="hosted_button_id" value="KDKN6JPEALU3U">
                                            <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                                            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                        </form>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="pricign-box animated fadeInUp animation-delay-8">
                                    <div class="pricing-box-header">
                                        <h2>Ultimate pack</h2>
                                        <p>Enjoy The 2 Brands For Less, The ultimate pack for the ultimate Deal</p>
                                    </div>
                                    <!--<img src="img/uk-sports-home-image.jpg" class="img-responsive" alt="Image">-->
                                    <div class="pricing-box-price">
                                        <h3>&pound;17 <sub>/ month</sub> </h3>
                                    </div>
                                    <div class="pricing-box-price">
                                        <h3>&pound;45 <sub>/ 3 months</sub> </h3>
                                    </div>
                                    <div class="pricing-box-content">
                                        <ul>
                                            <li><i class="fa fa-check"></i>The combination of all sports- Horse Racing from the UK and IRE aswell as other sports</li>
                                            <li><i class="fa fa-check"></i>Upon joining get our Guide and join our Ever growing Community</li>
                                            <li><i class="fa fa-check"></i>Payments made by secure paypal</li>
                                            <li><i class="fa fa-check"></i>Want to Pay by bank transfer, contact us</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-box-footer">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6"> Monthly Subscription  </div>
                                            <div class="col-md-6 col-sm-6"> 3 Monthly Subscription </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                    <input type="hidden" name="cmd" value="_s-xclick">
                                                    <input type="hidden" name="hosted_button_id" value="KHGW63NN8XESG">
                                                    <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                                </form>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                    <input type="hidden" name="cmd" value="_s-xclick">
                                                    <input type="hidden" name="hosted_button_id" value="RVBUN6L6JT9LE">
                                                    <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                                </form>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>


                        </div> <!-- row -->
                    </div>

                </div>
            </div>





            <aside id="footer-widgets">
                <div class="container">

                </div> <!-- container -->
            </aside> <!-- footer-widgets -->

            <footer id="footer">
                <p>Footer goes here.</p>
            </footer>

        </div> <!-- boxed -->

        <div id="back-top">
            <a href="#header"><i class="fa fa-chevron-up"></i></a>
        </div>


        <!-- Scripts -->
        <script src="~/Template/js/jquery-1.10.2.min.js"></script>
        <script src="~/Template/js/jquery.cookie.js"></script>
        <script src="~/Template/js/bootstrap.min.js"></script>
        <script src="~/Template/js/jquery.mixitup.min.js"></script>
        <script src="~/Template/js/lightbox-2.6.min.js"></script>
        <script src="~/Template/js/holder.js"></script>
        <script src="~/Template/js/app.js"></script>
        <script src="~/Template/js/styleswitcher.js"></script>

        <script src="~/Template/js/syntax/shCore.js"></script>
        <script src="~/Template/js/syntax/shBrushXml.js"></script>
        <script src="~/Template/js/syntax/shBrushJScript.js"></script>

        <script type="text/javascript">
            SyntaxHighlighter.all()
        </script>

        <!--chatme script-->
        <script src="https://repository.chatwee.com/scripts/d0755815b0dd84cb0c18cf36b1b89171.js" type="text/javascript" charset="UTF-8"></script>

        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", required: true)
        }
</body>

<!-- InstanceEnd -->
</html>
