
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @*@Html.ActionLink("User Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                <a asp-controller="Manage" asp-action="Index" asp-route-title="manage">User Profile</a>               
            </li>
            @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
            <li>
                <a asp-controller="Account" asp-action="Logout">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register" asp-route-id="registerLink">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login" asp-route-id="loginLink">Login</a></li>
    </ul>
}
