@if (ViewBag.ErrorTitle == null)
{
    <h3>
        Sorry, somthing has gone wrong.
        If you continue has this issue, please contact us.
    </h3>

}
else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h3 class="text-info">@ViewBag.ErrorMessage</h3>
}



