<div class="row">
        <div class="col-sm-6">
            <h3 style="margin-bottom:10px;">Andy Tipster on Facebook</h3>
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-aa90ce0f-671f-4c59-b660-dcffab67f353"></div>

        </div>
        <div class="col-sm-6">
            <h3>Andy Tipster Instagram</h3>
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-6339e76c-f2d0-42f5-948d-a8eb14214af1"></div>
        </div>
    </div>
