@model AndyTipsterPro.Entities.Contact

@{ 
    ViewBag.Title = "Message Broadcast";
}

<h1>Your Message have been Broadcasted.</h1>

<a asp-action="index" asp-controller="home" class="btn btn-primary">
    Back to Home Page
</a>