
@{
    ViewBag.Title = "User Subscription saved";
}



<div class="container">
    <div class="col-md-8">
        <div class="alert alert-success">
            @ViewBag.Message

        </div>
    </div>

</div>