@{
    ViewBag.Title = "Subscription found";
}

<div class="heads" style="background: url(/public/img/brewery-back1.jpg) 50% 27%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span>//</span> Subscription Found</h2>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>You already have this Subscription</h3>
                <p>Try different subscription options.</p>                
            </div>
        </div>
    </div>
</div>

