@model AndyTipsterPro.Entities.Product

@{
    ViewBag.Title = "Duplicate Subscription found";
}

<div class="heads" style="background: url(/public/img/brewery-back1.jpg) 50% 27%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span>//</span> You already have subscription for this Package.</h2>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>@Model.Name</h3>
                <p>@Model.Description</p>
                <p>£@((Model.Price / 100M).ToString("0.00"))</p>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>Try different subscription options.</p>
            </div>
        </div>
    </div>
</div>

